@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #1C2C2E;
    margin: 0;
    padding: 0;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #213436 .5px, transparent 1px),
                      linear-gradient(to bottom, #213436 .5px, transparent 1px);
}

.frame {
    position: relative;
    display: block;
    top: 37vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background-color: #575757;
}

section {
    padding: 2rem;
    border-bottom: 1px solid #ddd;
}

/* ------------------------------ HERO SECTION ------------------------------ */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.hero-content {
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 100%;
}

.hero-text {
    flex: 1;
    padding-right: 2rem;
}

.hero-text p {
    font-size: 1.2rem; /* Adjusting font size for introductory text */
}

.hero-text h1 {
    margin-top: 0;
    font-size: 3rem; /* Adjusting font size for name header */
}

.hero-text p.description {
    font-size: 1.1rem; /* Adjusting font size for description */
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Social icons styling */
.social-icons {
    margin-top: 1rem;
}

.social-icons a {
    color: #333;
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff; /* Change color on hover */
}

/* ----------------------------- PROJECT SECTION ---------------------------- */
.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.project {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
    text-decoration: none;
    color: black;
}

.project h2 {
    margin-top: 0;
}

.tags {
    margin-top: 1rem;
}

.tag {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 0.3rem 0.6rem;
    margin-right: 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
}

.project:hover {
    background-color: #e0e0e0;
}

.no-hover:hover {
    background-color: #f5f5f5;
}

/* ------------------------------ SKILLS SECTION ----------------------------- */
.skills-background {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    
}

/* --------------------------------- FOOTER --------------------------------- */
footer {
    background-color: #333;
    color: white;
    padding: 2rem;
    text-align: center;
}

footer p {
    margin-bottom: 1rem; /* Adds spacing below the text */
}

footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Adjusting input and textarea styles */
footer input, footer textarea {
    width: 80%;
    max-width: 700px; /* Increased maximum width of input elements */
    padding: 0.8rem; /* Increased padding for better visibility */
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem; /* Increased font size of placeholder text */
}

footer textarea {
    height: 150px; /* Set specific height for the message textarea */
}

footer button {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

footer button:hover {
    background-color: #45a049;
}
/*
h1 {
    text-align: center;
    color: #B5E9EE;
    font-weight: 500;
}
*/ 
/*
.navigation-flex {
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 20px;
}

.navigation-buttons {
    display: block;
    z-index: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #DAD0BF;
    text-align: center;
    background-color: rgba(97, 80, 72, 0.5);
    border: solid #615048;
    border-width: 1px;
    border-radius: 0.9rem;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    transition: all .2s;
    position: relative;
    transform: translate(0);
    box-shadow: 4px 4px 2px rgba(18, 28, 30, 0.9);
}


.navigation-buttons:hover {
    text-decoration: none;
    transform: translate(-1px,-1px);
    background-color: rgba(97, 80, 72, 0.8);
    box-shadow: 8px 8px 2px rgba(18, 28, 30, 0.9); 
}
*/